/* Już sam nie wiem co sie dzieje w tym pliku, ale nie obchodzi mnie to  */
ScannerTab {
  layout: grid;
  grid-size: 3 5;
  grid-gutter: 1;
}

ScannerTab #friendly-command-section,
ScannerTab #user-command-section,
ScannerTab #results-section {
  padding: 1;
  border: round $primary;
}

ScannerTab #friendly-command-section {
  row-span: 5;
  column-span: 1;
}

ScannerTab #user-command-section {
  row-span: 1;
  column-span: 2;
}

ScannerTab #results-section {
  row-span: 3;
  column-span: 2;
}

ScannerTab Label {
  padding: 0 1;
}

ScannerTab Input,
ScannerTab MaskedInput,
ScannerTab Select {
  width: 1fr;
  margin: 0 0 1 0;
}

ScannerTab #final-section {
  row-span: 1;
  column-span: 3;
  layout: grid;
  grid-size: 3 1;
  grid-gutter: 1;
  padding: 0;
  border: round $primary;
}

ScannerTab #final-command {
  column-span: 2;
  padding: 1;
  align: center middle;
}

ScannerTab #final-command-output {
  border: solid $secondary;
  overflow: auto;
}

ScannerTab #buttons {
  column-span: 1;
  layout: vertical;
  align: center middle;
  border-left: solid $primary 20%;
}

ScannerTab #buttons Button {
  width: 90%;
  padding: 1;
}

ScannerTab #scan-button {
  border: none;
}

ScannerTab #save-button {
  border: none;
}



ScannerTab #results-scroll {
  height: 1fr;
  width: 100%;
  scrollbar-color: $primary ;
  scrollbar-background: $background;
  scrollbar-size-horizontal: 1;
}



DetectorTab Button {
  content-align: center middle;
}

DetectorTab Checkbox {
  width: 100%;
}

.save-button-container {
  align: center middle;
  height: auto;
  margin-top: 1;
  width: 100%;
}

.profile-row {
  layout: horizontal;
  align-vertical: middle;
  height: auto;
  min-height: 3;

  background: $surface;
  border-left: solid $primary;
  margin-bottom: 1;
  padding: 1;
}

.profile-row:hover {
  background: $surface-lighten-1;
  border-left: solid $accent;
}

.profile-profile_name {
  width: 2fr;
  text-style: bold;
  color: $text;
  padding: 1;
  content-align: center middle;
}

.section-card {
  padding: 1;
  border: round $primary;
  height: auto;
}

.detector-scroll {
  scrollbar-color: $primary ;
  scrollbar-background: $background;
  scrollbar-size-horizontal: 1;
}


ModalScreen {
  align: center middle;

}

.modal-window {
  background: $surface;
  border: tall $primary;
  padding: 1 2;
  layout: vertical;
}

.small-modal {
  width: 50;
  height: auto;
}

.medium-modal {
  width: 80;
  height: 80%;
}

.large-modal {
  width: 95%;
  height: 95%;
}

.modal-header {
  width: 100%;
  text-align: center;
  text-style: bold;
  color: $accent;
  border-bottom: solid $secondary;
  padding-bottom: 1;
  margin-bottom: 1;
}

.modal-footer {
  height: auto;
  width: 100%;
  align: center middle;
  padding-top: 1;
  dock: bottom;
}

.modal-footer Button {
  margin: 0 1;
  min-width: 15;
}

.modal-split-container {
  width: 100%;
  height: 1fr;
}

.left-panel {
  width: 65%;
  height: 100%;
  margin-right: 1;
}

.right-panel {
  width: 35%;
  height: 100%;
  border-left: solid $secondary;
  padding-left: 1;
}

.plot-card {
  height: 1fr;
  border: none;
  margin-bottom: 1;
  background: $surface-lighten-1;
}

.section-header {
  text-align: center;
  color: $text-muted;
  margin-bottom: 1;
}

.info-box {
  width: 100%;
  height: 1fr;
  border: tall $surface-lighten-2;
  background: $surface-darken-1;
  padding: 1;
  overflow: auto;
  scrollbar-color: $primary ;
  scrollbar-background: $background;
  scrollbar-size-horizontal: 1;
}

.table-container {
  width: 100%;
  height: 1fr;
  border: solid $secondary;
}


.label-muted {
  color: $text-muted;
  text-align: center;
}
